In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:/Users/User/Desktop/train.csv") 
print(df.head())

   employee_id         department     region         education gender  \
0        65438  Sales & Marketing   region_7  Master's & above      f
1        65141         Operations  region_22        Bachelor's      m
2         7513  Sales & Marketing  region_19        Bachelor's      m
3         2542  Sales & Marketing  region_23        Bachelor's      m
4        48945         Technology  region_26        Bachelor's      m

  recruitment_channel  no_of_trainings  age  previous_year_rating  \
0            sourcing                1   35                   5.0
1               other                1   30                   5.0
2            sourcing                1   34                   3.0
3               other                2   39                   1.0
4               other                1   45                   3.0

   length_of_service  KPIs_met >80%  awards_won?  avg_training_score  \
0                  8              1            0                  49
1                  4              0            0                  60
2                  7              0            0                  50
3                 10              0            0                  50
4                  2              0            0                  73

   is_promoted
0            0
1            0
2            0
3            0
4            0

In [11]:
import sqlite3

conn = sqlite3.connect("data_pipeline.db")
cursor = conn.cursor()

df.to_sql("social_media_data", conn, if_exists="replace", index=False)

print("Data successfully loaded into SQL database!")

conn.close()

Data successfully loaded into SQL database!

In [13]:
conn = sqlite3.connect("data_pipeline.db")

query = "SELECT * FROM social_media_data LIMIT 5;"
df_sql = pd.read_sql(query, conn)

print(df_sql)

conn.close()

   employee_id         department     region         education gender  \
0        65438  Sales & Marketing   region_7  Master's & above      f
1        65141         Operations  region_22        Bachelor's      m
2         7513  Sales & Marketing  region_19        Bachelor's      m
3         2542  Sales & Marketing  region_23        Bachelor's      m
4        48945         Technology  region_26        Bachelor's      m

  recruitment_channel  no_of_trainings  age  previous_year_rating  \
0            sourcing                1   35                   5.0
1               other                1   30                   5.0
2            sourcing                1   34                   3.0
3               other                2   39                   1.0
4               other                1   45                   3.0

   length_of_service  KPIs_met >80%  awards_won?  avg_training_score  \
0                  8              1            0                  49
1                  4              0            0                  60
2                  7              0            0                  50
3                 10              0            0                  50
4                  2              0            0                  73

   is_promoted
0            0
1            0
2            0
3            0
4            0

In [15]:
conn = sqlite3.connect("data_pipeline.db")

df = pd.read_sql("SELECT * FROM social_media_data", conn)
il
df = df.dropna()

df = df.drop_duplicates()

df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]

df.to_sql("cleaned_social_media_data", conn, if_exists="replace", index=False)

print("Data Cleaning and Transformation Completed Successfully!")

conn.close()

Data Cleaning and Transformation Completed Successfully!

In [17]:
import sqlite3
import pandas as pd

def etl_pipeline(csv_path, db_name="data_pipeline.db"):
   
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

df = pd.read_csv(csv_path)
df.to_sql("social_media_data", conn, if_exists="replace", index=False)

df = df.dropna() 
df = df.drop_duplicates()  
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]  
    
df.to_sql("cleaned_social_media_data", conn, if_exists="replace", index=False)


conn.close()
    
print("✅ ETL Pipeline successfully completed!")

etl_pipeline("C:/Users/User/Desktop/train.csv")

✅ ETL Pipeline successfully completed!